:root {
    --dark-bg: rgb(33,60,91);
    --body-bg: #ddd;
    --content-bg: #eee;
    --white: #ffffff;
}

body {
    background-color: var(--body-bg);
}

.wrapper {
    background-color: var(--content-bg);
}

.content{
    min-height: calc(100vh - 65px - 61px);
}

nav, nav h1 {
    background-color: var(--dark-bg);
    color: white;
}

nav a span {
    color: var(--white);
    display: block;
    text-align: center;
    font-size: 13px;
    position: relative;
    top: -3px;
}

nav a svg, nav a i {
    color: var(--white);
    display: inline-block;
}

input[type="radio"]{
    opacity: 0;
}


label{
   height: 65px;
   width: 65px;
   border-radius: 5px;
   color: var(--dark-bg);
   text-align: center;
   padding-top: 2px;
}

.bi {
    font-size: 25px;
}

input[type="radio"]:checked + label {
	background-color: var(--dark-bg);
	color: var(--white);
}

.progress-bar {
	background-color: var(--dark-bg);
}
