{% extends "layout.html" %}

{% block content %}
    <h2>Goals</h2>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <a href="/goal-details/money" class="text-decoration-none">
                    <div class="card-body">
                        <h3 class="card-title">Money</h5>

                        <label for="money_pr" class="d-none">
                            Money goal progress
                        </label>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" id="money_pr" role="progressbar"
                                style="width: {{progress.sum_money / goals.money.target * 100}}%;"
                                aria-valuenow={{progress.sum_money}} aria-valuemin="0"
                                aria-valuemax={{goals.money.target}}>
                                {{progress.sum_money}} €
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <a href="/goal-details/miles" class="text-decoration-none">
                    <div class="card-body">
                        <h3 class="card-title">Miles</h5>
                        <label for="miles_pr" class="d-none">
                            Miles goal progress
                        </label>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" id="miles_pr" role="progressbar"
                                style="width: {{progress.sum_miles / goals.miles.target * 100}}%;"
                                aria-valuenow={{progress.sum_miles}} aria-valuemin="0"
                                aria-valuemax={{goals.miles.target}}>
                                {{progress.sum_miles}} miles
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <a href="/goal-details/cities" class="text-decoration-none">
                    <div class="card-body">
                        <h3 class="card-title">Cities</h5>
                        <label for="city_pr" class="d-none">
                            City goal progress
                        </label>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" id="city_pr" role="progressbar"
                                style="width: {{progress.no_cities / goals.cities.target * 100}}%;"
                                aria-valuenow={{progress.no_cities}} aria-valuemin="0"
                                aria-valuemax={{goals.cities.target}}>
                                {{progress.no_cities}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <a href="/goal-details/trips" class="text-decoration-none">
                    <div class="card-body">
                        <h3 class="card-title">Trips</h5>
                        <label for="trips_pr" class="d-none">
                            Trip goal progress
                        </label>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" id="trips_pr" role="progressbar"
                                style="width: {{progress.no_trips / goals.trips.target * 100}}%;"
                                aria-valuenow={{progress.no_trips}} aria-valuemin="0"
                                aria-valuemax={{goals.trips.target}}>
                                {{progress.no_trips}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
