{% extends "layout.html" %}

{% block content %}
    <div class="card p-3 mb-3">
        <h2 class="card-title fs-3">Goal overview</h2>

        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <a href="/goal-details/money" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Money</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{progress.sum_money}} €</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/goal-details/miles" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Miles</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{progress.sum_miles}} Miles</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <a href="/goal-details/cities" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Cities</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{progress.no_cities}}</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/goal-details/trips" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Trips</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{progress.no_trips}}</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="card">
        <div class="card-header">
            <h2 class="card-title mb-0 fs-3">Recent Trips</h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for trip in trips %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2 col-md-1 align-self-center">
                            {% if trip.type == "tram" %}
                                <i class="bi bi-train-lightrail-front float-start p-3" title="Train" aria-hidden="true"></i>
                            {% elif trip.type == "train" %}
                                <i class="bi bi-train-front float-start p-3" title="Tram" aria-hidden="true"></i>
                            {% else %}
                                <i class="bi bi-bus-front-fill float-start p-3" title="Bus" aria-hidden="true"></i>
                            {% endif %}
                        </div>
                        <div class="col align-self-center">
                            <h3 class="fs-5">
                                {{ trip.start }} - {{ trip.destination }}
                            </h3>
                            <p class="mb-0">{{ trip.datetime }}</p>
                            {% if trip.price %}
                                <p class="mb-0">{{ trip.price }} €</p>
                            {% endif %}
                            <p class="small mb-0">{{ trip.comment }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
