{% extends "layout.html" %}

{% block content %}
    <div class="card p-3 mb-3">
        <h2 class="card-title">Goal overview</h2>

        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <a href="/goal-details/money" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">Money</h5>
                            <h6 class="card-subtitle mb-2 text-muted">80 €</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/goal-details/miles" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">Miles</h5>
                            <h6 class="card-subtitle mb-2 text-muted">140 Miles</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <a href="/goal-details/cities" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">Cities</h5>
                            <h6 class="card-subtitle mb-2 text-muted">13</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/goal-details/trips" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">Trips</h5>
                            <h6 class="card-subtitle mb-2 text-muted">58</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="card">
      <div class="card-header">
        Recent Trips
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">a</li>
        <li class="list-group-item">b</li>
        <li class="list-group-item">c</li>
      </ul>
    </div>

{% endblock %}
