<html>
    <head>
        <title>KlimApp</title>
    </head>
    <body>
        <div>
            <nav>
                <a href="/">KlimApp</a>
                <a href="/profile">Profile</a>
            </nav>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/add-trip">Add Trip</a>
            </div>
            <div>
                <a href="/goals">Goals</a>
            </div>
            <div>
                <a href="/ticket">Ticket</a>
            </div>
            <div>
                <a href="/history">History</a>
            </div>
        </footer>
    </body>
</html>
